@import "ui-variables";

.tree-view-panes {
  position: relative;
  padding-left: 5px;
  padding-right: 10px;
  background-color: @tree-view-background-color;

  .pending-item {
    &.hidden {
      display: none;
    }

    .name {
      font-style: italic;
    }
  }
}
