@import "ui-variables";

.tree-view-panes {
    background-color: @tree-view-background-color;
}

.tree-view-panes .pending-item .name {
    font-style: italic;
}

.tree-view-panes .pending-item.hidden {
    display: none;
}
