@import "ui-variables";
@import "octicon-mixins";

.tree-view-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  position: relative;

  .tree-view-panes.list-tree, .full-menu.list-tree {
    isolation: isolate;
    padding-left: @component-icon-padding;
    padding-right: @component-padding;
    background-color: inherit;
  }

  .tree-view-panes.list-tree {
    flex-grow: 0;
  }

  .full-menu.list-tree {
    flex-grow: 1;
  }
}

.tree-view-wrapper.width-calculation {
  width: min-content;

  .tree-view-panes.list-tree, .full-menu.list-tree {
    width: min-content;
  }
}

.tool-panel.tree-view-panes-dock-item {
  display: flex;
  flex-direction: column;
  contain: size;
  overflow: auto;
  -webkit-user-select: none;
  background-color: @tree-view-background-color;
}

.tree-view-panes {
  .list-item {
    &.pending-item {
      &.hidden {
        display: none;
      }

      .name {
        font-style: italic;
      }
    }

    &.drag-over::after {
      content: "";
      display: block;
      margin-top: -2px;
      border-bottom: 2px solid @background-color-selected;
    }

    .close-button {
      .octicon(x, @font-size);

      display: inline-block;
      width: @font-size + @component-icon-padding * 2;
      padding-left: @component-icon-padding;
      padding-right: @component-icon-padding;
      margin-left: -(@font-size + @component-icon-padding * 2);
      text-align: center;
      color: @text-color;

      &:hover {
        color: @text-color-selected;
      }

      &::before {
        display: none;
      }
    }

    &.modified .close-button {
      .octicon(primitive-dot, @font-size);

      &:hover {
        .octicon(x, @font-size);
      }

      &::before {
        display: inline-block;
      }
    }

    &:hover .close-button::before, &.selected .close-button::before {
      display: inline-block;
    }
  }
}

// theme specific stylesheets
.theme-atom-dark-ui {
  .tree-view-panes {
    .list-item-pane.active .list-item.selected::before {
      background-color: @background-color-selected;
    }

    .list-item-pane:not(.active) .list-item.selected::before {
      background-color: #444;
    }
  }
}

.theme-atom-light-ui {
  .tree-view-panes {
    .list-item-pane.active .list-item.selected::before {
      background-color: @background-color-selected;
    }

    .list-item-pane:not(.active) .list-item.selected::before {
      background-color: #d0d0d0;
    }
  }
}

.theme-one-dark-ui {
  .tree-view-panes {
    .list-item-pane {
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        margin-left: -@component-icon-padding;
        height: 2.5em;
        width: 2px;
        background: #568af2;
        opacity: 0;
        transition: opacity .16s;
      }

      &.active::before {
        opacity: 1;
        transition: opacity .32s;
      }
    }

    .header .name {
      line-height: 2.5em;
    }

    .list-item.selected::before {
      background-color: #2d2d2d;
    }

    .list-item.drag-over::after {
      border-bottom: 2px solid #568af2;
    }
  }
}

.theme-one-light-ui {
  .tree-view-panes {
    .list-item-pane {
      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        margin-left: -@component-icon-padding;
        height: 2.5em;
        width: 2px;
        background: #568af2;
        opacity: 0;
        transition: opacity .16s;
      }

      &.active::before {
        opacity: 1;
        transition: opacity .32s;
      }
    }

    .header .name {
      line-height: 2.5em;
    }

    .list-item.selected::before {
      background-color: #c9c9c9;
    }

    .list-item.drag-over::after {
      border-bottom: 2px solid #568af2;
    }
  }
}
